body {
    font-size: 18px;
    line-height: 1.5;
    font-family: "Gill Sans", sans-serif;
}

header,
main,
nav,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
    font-family: Gill Sans Extrabold, sans-serif;
}

header {
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 12px;
    padding: 0.25rem;
}

img {
    float: right;
    margin: 0px;
    width: 10rem;
    border-radius: 4px;
    box-shadow: 4px 4px 2px rgb(132 95 95);
}

nav {
    padding: 0.25rem;
}

h1 {
    padding: 8px;
}

h2 {
    display: block;
    border-bottom: 1.3px solid black;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: brown;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    border-radius: .5rem;
}

footer a {
    color: white;
}

footer div {
    color: yellow;
}

