@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    header, footer {
        border-radius: 7px;
    }
    header {
        margin-top: 40px;
    }
    header img {
        float: right;    
        border-radius: 7px;
        filter: drop-shadow(3px 2px 4px grey);
        padding-top: 0px;
    }
    nav {
        padding-left: 95px;
    }
    
    #separate {
        display: initial;
    }

    footer span {
        display: inline;
    }
}