header, nav, main, footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header, footer {
        background-color: navy;
        color: #ffffff;
        text-align: center;
}

body {
    font-size: 18px;
    line-height: 1.5;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px #696773;
    background-color: burlywood;
}

nav {
    font-size: 18px;
    margin: 1.25rem auto;
    display: block;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
}

header {
    padding: 1.5rem;
}

p img {
    float: right;
    margin: 10px;
    border: 1px solid #000000;
    padding: 1.5pem;
}

footer {
    padding: 1.5pem;
}


.section1 {
    background: coral;
}

#header2 {
    font-size: 24px;
    background: burlywood;
}

.section1 > p {
    background: crimson;
}

body {
    font-size: 18px;
    line-height: 1.5;
}

main {
    background: beige;
}

header {
    font-size: 40px;
    /*text-align: right;*/
    box-shadow: 0 2px 15px #696773;
    background-color: beige;
}

nav ul a {
    color: blue;
}

h2 {
    font-size: 22px;
    background: chocolate;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px #696773;
    background-color: burlywood;
}

nav {
    font-size: 18px;
    margin: 1.25rem auto;
    display: block;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
}

