body {
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Roboto', serif;
}

header,
.footermenu,
.copyrightdetails,
.mainarticle,
.topsection,
.bottomsection,
.weatheralert,
.lazyloadgallery,
.towns,
.eventssection,
.calltoaction {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em 1em;
}

.weatheralert {
    background-color: #F79E1F;
    color: #000000;
    display: block;
    text-align: center;
}

#alert {
    font-size: 1.2em;
}

.announcebtn {
    margin-left: 15px;
    color: #000000;
    font-weight: bold;
    float: right;
    font-size: 2em;
    line-height: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.announce:hover {
    color: black;
}

/* Header */

header img {
    max-width: 200px;
    margin: 0;
}

header {
    text-align: center;
}

/* Navigation */

nav {
    margin: 0 auto;
    padding: 0;
    background-color: #525252;
    text-align: center;
    z-index: 999;
}

.clearfix {
    list-style: none;
    padding: 0;
}

.clearfix li:first-child {
    display: block;
}

.clearfix li {
    display: none;
}

nav ul {
    margin: 0;
    overflow: hidden;
}

.clearfix a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.95rem;
    font-family: 'Noto Sans', sans-serif;
}

.clearfix a:hover {
    color: black;
    background-color: #CF8C79;
}

.responsive li {
    display: block;
}

.clearfix a.active {
    color: black;
    background-color: #CF8C79;
}

.clearfix .active {
    border: 0.125em solid #E06A4C;
    border-radius: 0.125em;
}

/* Main */
main a,
main a:visited {
    color: #29ac9c;
}

main img {
    max-width: 100%;
    height: auto;
}

main .calltoaction,
main h2,
.topsection {
    text-align: center;
}

main h2 {
    text-transform: uppercase;
}

button {
    padding: 1em;
    background-color: #29ac9c;
    color: #000000;
    border: none;
    margin: 1em;
    font-size: 1.5em;
    border-radius: 5px;
}

main section {
    background-color: #fff;
    font-size: 0.95em;
}

.mainarticle img {
    box-shadow: none;
    max-width: 100%;
    height: auto;
}

blockquote {
    padding: 0.5em;
    font-style: italic;
    margin: 0;
}

blockquote a,
blockquote a:visited {
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    color: #005f8b;
}

article figure {
    margin: 0;
    background-color: #f8f8f8;
    padding: 2em;
    overflow: hidden;
}

article figure figcaption {
    font-size: 0.8em;
}

.weathersummary {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1em 1em;
    background-color: #2689C7;
    color: white;
    line-height: 1em;
    text-align: center;
}

.weathersummary h2,
.weathersummary a {
    color: white;
}

.weathersummary h2 {
    padding-top: 2em;
}

#weatherdescription {
    text-transform: capitalize;
}

.weathertable {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.dayofweek {
    flex-grow: 1;
    padding: 0;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff;
    color: #000;
}

.dayofweek h3 {
    background: #efefef;
    text-align: center;
    margin: 0;
    color: #005f8b;
    ;
    padding: 0.5em;
}

.dayofweek img {
    padding: 0;
}

.herosection {
    margin: 0 auto;
    max-width: 100%;
}

.heroimage {
    position: relative;
}

.heroimage img {
    object-fit: cover;
    width: 100%;
    max-height: 550px;
}


/* Table */
table {
    margin: 1em auto;
    width: 80%;
}

table,
table caption {
    box-shadow: 6px 8px 13px 1px rgba(217, 219, 219, 0.9);
}

th,
td {
    text-align: center;
}

table,
caption,
th,
td {
    border: 2px solid #005f8b;
    border-collapse: collapse;
}

table caption {
    color: #fff;
    background-color: #005f8b;
    font-size: 2em;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
}

thead tr {
    color: #000;
    background-color: #adc4e5;
    font-size: 1em;
    font-style: italic;
}

thead th {
    padding: 0.5em;
}

tbody tr {
    background-color: #efefef;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody td,
tfoot td {
    padding: 0.4em 0.2em;
}

tbody td {
    font-size: 1.2em;
    padding: 1em;
}

tbody img {
    width: 100%;
    max-width: 200px;
}

tfoot td {
    font-size: 0.9em;
    background-color: #adc4e5;
}



/* Lazy Load Gallery and Rental Types */
.lazyloadgallery,
.rentaltypes {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 1em;
}

.lazyloadgallery img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.lazyloadgallery img[data-src] {
    filter: blur(0.2em);
}

.lazyloadgallery figure,
.rentaltypes figure {
    text-align: center;
    margin: 0;
}

.lazyloadgallery figcaption,
.rentaltypes figcaption {
    background-color: #CF8C79;
    padding: 1em;
    margin: 0;
}

.rentaltypes figcaption a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

.lazyloadgallery h2 {
    text-align: center;
}

/* Form */
form fieldset {
    margin: 2rem 0;
    border: 1px solid#CF8C79;
    border-radius: 10px;
    padding: 0.5rem 2%;
}

form legend {
    color: #CF8C79;
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-size: 1.2rem;
}

form label .top,
form div {
    display: block;
    padding-top: 1rem;
    color: #29ac9c;
    font-size: 1.2rem;
    font-weight: bold;
}

form label.top,
form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    color: #555;
    width: 85%;
}

form label.sbs {
    display: block;
    padding: 0.75em 0.75em;
    color: #555;
}

form .danger {
    padding: 0.75em 0.75em;
    text-transform: uppercase;
}

form label.sbs input {
    width: auto;
}

form input.submitBtn {
    border: none;
    background-color: #29ac9c;
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 30rem;
    font-size: 28px;
}

form input.submitBtn:hover {
    background-color: #000;
}

form label.top input:required {
    border: 2px dotted red;
}

form input,
form textarea {
    border-radius: 0.3rem;
    border: 2px solid #005f8b;
    width: 100%;
    padding: 0.5em;
}

form label.top input:required:valid {
    border: 2px solid #005f8b;
}

/* Footer */

footer {
    background-color: #005f8b;
    color: #fff;
}

.footermenu {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.copyrightdetails {
    text-align: center;
}

/* Other */

h1,
h2,
h3 {
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1;
    color: #315c2b;
}

h2 {
    font-size: 1.7em;
    color: #000;
    text-align: left;
}

h3 {
    font-size: 1.5em;
    color: grey;
}

h3 a {
    color: grey;
}

h4 {
    font-size: 1.3em;
    color: teal;
}

p {
    font-family: 'Roboto', serif;
}

footer p {
    line-height: 1.2;
    font-size: 0.75em;
}

footer a,
footer h3 {
    color: #fff;
    line-height: 0.8em;
    font-weight: normal;
}

.footermenu {
    background-color: #005f8b;
    text-align: center;
}

.sociallinks img {
    padding: 0 0.5em 0 0;
}

.maparea img {
    width: 95%;
}

.highlighted {
    color: yellow;
}

.returnlink {
    text-align: center;
}

h2.menuarea {
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.boldname {
    font-weight: bold;
    font-size: 1em;
}

h2.homeheader {
    text-align: center;
}

.introtext {
    background-color: #1f74d1;
    color: #fff;
    padding: 1em;
    font-style: italic;
}

.homearticle {
    line-height: 1.8;
}

iframe {
    width: 100%;
    min-height: 400px;
}