body {
    background-color: #EFF1F3;
    font-size: 16;
    line-height: 1.5;
}

header, main, footer {
    margin: 1.25em auto;
    max-width: 1060px;
}

header {
    font-family: 'David Libre', serif;
    background-color: #696773;
    padding: 1em;
}

header h1 {
    color: #FED766;
    filter: drop-shadow(0.15em 0.125em 0.15em black);
    text-align: center;
    font-size: small;
    margin: auto;
}

body, main, footer {
    font-family: 'Cardo', serif;
    padding: 1em;
}

@media only screen and (min-width: 32.5em) {
    header, footer {
        border-radius: 5px;
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
}

main img {
    box-shadow: 5px 8px #888888;
    margin: 0.5rem 0;
    filter: blur(0em);
    transition: filter 1s;
}

main img[data-src] {
    filter: blur(0.2em);
}

main picture {
    text-align: center;
}

footer {
    align-items: center;
    text-align: center;
    background-color: #272727;
    color: #FED766;
    padding: 1em;
}