/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    body {
        max-width: 90%;
    }

    h1 .sitename {
        padding-top: 1rem;
    }

    main {
        max-width: 64em;
    }

    .contentbox {
        background-color: #bbbbbb;
        color: #444;
        border: 1px dashed black;
        max-width: 55em;
        margin: 14px auto;
    }

    .sitelogo {
        width: 8em;
        display: block;
        margin: auto;
    }

}