/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body,
main,
header,
.sitemotto,
.sitename,
h1,
h2,
nav,
footer,
.contentbox,
a {
    font-family: 'David Libre', serif;
}

body {
    background-color: #EFF1F3;
    margin: auto;
}

main {
    max-width: 95%;
    margin: 0 auto;
    padding: 1em;
}

header,
footer {
    align-items: center;
    text-align: center;
    background-color: #696773;
    color: #FED766;
    padding: 1em;
    justify-content: center;
}

h1 {
    color: #FED766;
    font-size: 42px;
}

h2 {
    font-size: 18px;
}

.container {
    height: 160px;
    background-color: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.container .sitelogo {
    max-width: 20px;
    padding: 0 8px;
}

.container .sitelogo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 8em;
}

.container .sitelogo a img {
    width: 100%;
}

.container .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 10px;
    margin: 0 auto;
}

.container .title .sitename {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sitemotto {
    line-height: 2;
    top: 0px;
    text-align: left;
    margin-block-start: auto;
    display: block;
    width: 100%;
}

h2 {
    color: #272727;
    text-align: center;
}

.contentbox {
    background-color: #bbbbbb;
    border: 1px dashed black;
    margin: 10px auto;
    padding: 12px;
    color: #444;
    font-style: italic;
    width: 75%;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #FED766;
}

.clearfix {
    list-style: none;
    padding: 0;
}

.clearfix li:first-child {
    display: block;
}

.clearfix li {
    display: none;
}

.clearfix a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.clearfix a:hover {
    color: black;
    background-color: #009FB7;
}

.responsive li {
    display: block;
}

.active {
    border: 1px solid black;
    border-radius: 2px;
}

footer {
    background-color: #696773;
    font-family: 'David Libre', serif;
    font-size: 15px;
    color: #FED766;
    text-align: center;
    padding: 5px;
}