/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body,
main,
header,
.sitemotto,
.sitename,
h1,
h2,
nav,
footer,
.contentbox,
a {
    font-family: 'David Libre', serif;
}

body {
    background-color: #EFF1F3;
    margin: auto;
}

main {
    max-width: 95%;
    margin: 0 auto;
    padding: 1em;
}

header h1,
header div {
    text-align: center;
}

header,
footer {
    align-items: center;
    text-align: center;
    background-color: #696773;
    color: #FED766;
    padding: 1em;
    justify-content: center;
}

h1 {
    color: #FED766;
    font-size: 42px;
}

h2 {
    font-size: 14px;
}

.sitemotto {
    display: block;
    max-width: 100%;
    margin: auto;
}

#sitelogo {
    width: 8em;
    display: block;
    margin: auto;
}

h2 {
    color: #272727;
    text-align: center;
}

.contentbox {
    background-color: #bbbbbb;
    border: 1px dashed black;
    margin: 10px auto;
    padding: 12px;
    color: #444;
    font-style: italic;
    width: 75%;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #FED766;
}

.clearfix {
    list-style: none;
    padding: 0;
}

.clearfix li:first-child {
    display: block;
}

.clearfix li {
    display: none;
}

.clearfix a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.clearfix a:hover {
    color: black;
    background-color: #009FB7;
}

.responsive li {
    display: block;
}

.active {
    border: 1px solid black;
    border-radius: 2px;
}

footer {
    background-color: #696773;
    font-family: 'David Libre', serif;
    font-size: 15px;
    color: #FED766;
    text-align: center;
    padding: 5px;
}