/* Utilities Section */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #EFF1F3;
}

header,
main,
.cards {
    margin: 1.25em auto;
    max-width: 1060px;
}

header {
    text-align: center;
    background-color: #26313A;
    color: #ffd077;
    padding: 6px;
    margin: 2px auto;
}

/* Small Viewport */
@media only screen and (min-width: 520px) {

    header {
        border-radius: 5px;
    }

    h1,
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-family: 'Noto Sans', sans-serif;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    grid-gap: 0.5em;
    width: 90%;
}

.cards section {
    border: 1px solid #5c5a66;
    padding: 0.4em;
    text-align: center;
    background-color: rgb(167, 166, 166);
}

.cards section h2 {
    font-family: 'Cardo', serif;
    color: #272727;
    /* filter: drop-shadow(0.15em 0.125em 0.15em #ffd077); */
    font-weight: bold;
    border: 1px solid #5c5a66;
    border-radius: 5px;
    background-color: #ffd077;
}

.cards img {
    width: 90%;
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.9);
    margin: 1em auto;
}

.returnlink {
    text-align: center;
}


/* Medium Viewport */
@media only screen and (min-width: 600px) {

    .cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .cards section {
        border-radius: 5px;
        padding: 0.4em;
        text-align: center;
    }
}

/* Large Viewport */
@media only screen and (min-width: 960px) {
    
    .cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
    }
}