/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

	/* Header */
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.motto {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}

	/* Gallery Container */
	main div.gallery_container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1.25em;
		margin: 0 auto;
		width: 100%;
		/* padding: 1.8em 10em; */
	}

	main div.gallery_container figure.gallery_photo:hover {
		box-shadow: 0 0 30px rgba(33, 33, 33, 1);
	}

}