/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

	/* Header */

	header img {
		width: 100%;
	}

	.herodiv .btn {
		position: absolute;
		top: 52%;
		left: 61%;
	}

	.cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

	/* Gallery Container */

	main div.gallery_container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 1.25em;
		margin: 0 auto;
		width: 100%;
	}

	main div.gallery_container figure.gallery_photo:hover {
		box-shadow: 0 0 30px rgba(33, 33, 33, 1);
	}

}