@media only screen and (min-width: 900px) {

	/* Header */

	header img {
		width: 100%;
		height: auto;
	}

	.headings h1 {
		font-size: 2.6rem;
		margin: 0 0 0 17px;
	}

	/* Navigation Bar */

	.navbar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 675px;
		margin: 0 auto;
	}

	.navbar li {
		display: block;
		flex: 1 1 auto;
	}

	.navbar a {
		text-align: center;
		font-size: 1em;
		padding: 1em;
	}

	.navbar li:first-child {
		display: none;
	}

	.navbar li:hover {
		border-top: 0.125em solid #86B3D1;
		border-bottom: 0.125em solid #86B3D1;
	}

	.navbar .active:hover {
		border: 0.125em solid white !important;
	}

	/* Hero Area */
	.weathersummary {
		position: absolute;
		top: 30px;
		left: 40px;
		grid-template-columns: 1fr;
		border-radius: 0.3125em;
		filter: drop-shadow(1px 2px 1px white);
		opacity: .85;
	}

	.herodiv div.home_centered {
		top: 30%;
		left: 60%;
	}

	.herodiv div.centered {
		top: 50%;
		left: 50%;
	}

	.herodiv h3 {
		display: block;
		font-size: 1.8em;
		width: 100%;
		margin: auto;
		text-align: center;
		color: white;
	}

	.herodiv .btn {
		position: absolute;
		top: 51%;
		left: 60%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		background-color: #844D36;
		color: white;
		font-size: 18px;
		padding: 12px 24px;
		border: none;
		cursor: pointer;
		border: 1px solid white;
		border-radius: 5px;
		text-align: center;
	}

	/* Five Day Forecast */

	.forecastdiv,
	.fc_h3 {
		display: block;
	}

	.forecastdiv {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1.75%;
		padding: 0.313rem;
		text-align: center;
	}

	.fc_img {
		padding: 0;
		margin: 0 auto;
		display: block;
		margin: auto;
		width: 80%;
	}

	.forecastdiv img {
		display: block;
		margin: auto;
		width: 80%;
	}

	.forecastdiv .fc_icon {
		background-color: #5FB0D9;
		padding: .25em 0 .25em 0;
		font-weight: 700;
		border-radius: 2px;
		letter-spacing: 1.25px;
	}

	.forecastdiv div.fc_header,
	.forecastdiv div.fc_footer,
	.forecastdiv span.fc_temp {
		color: #FED766;
		background-color: #26313A;
	}

	.forecastdiv div {
		border-radius: 0.3125em;
		overflow: hidden;
	}

	/* Article Images */

	.art1_img,
	.art2_img,
	.art3_img,
	.art4_img {
		float: right;
		padding-left: 12px;
		width: 30%;
	}

	/* Gallery Container */

	main div.gallery_container {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-gap: 0.5em;
	}

	/* Business Cards */

	.cards {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .cards section {
        border-radius: 5px;
        padding: 0.4em;
        text-align: center;
    }

    .cards img {
        width: 50%;
        box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.9);
        margin: 2em auto;
    }

	/* Contact Area */

	main div.contactdiv {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	main div.contact_info {
		grid-column: 2/3;
		margin: auto;
	}

	main div.contact_info .socialicons {
		text-align: center;
		margin: 1em;
		width: 30px;
	}

	/* Footer */

	footer {
		margin: auto;
	}
}