header,
nav,
main,
footer {
    max-width: 767px;
    margin: 0 auto;
}

main {
    padding: 10px;
}

body,
h2,
h3,
p {
    background-color: #EFF1F3;
    font-family: 'Cardo', serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FED766;
    font-family: 'David Libre', serif;
    font-size: 25px;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px #696773;
}

nav ul li a {
    display: block;
    color: #272727;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    background-color: #009FB7;
}

h1 {
    padding: 10px;
    font-family: 'David Libre', serif;
    font-size: 45px;
}

.sample-header {
    font-family: 'David Libre', serif;
    font-size: 45px;
}

.sample-navigation {
    font-family: 'David Libre', serif;
    font-size: 25px;
}

.sample body {
    font-family: 'David Libre', serif;
    font-size: 18px;
}

h2 {
    color: #272727;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p,
ul li {
    font-size: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

footer {
    background-color: #696773;
    font-family: 'David Libre', serif;
    font-size: 15px;
    color: #FED766;
    text-align: center;
    padding: 5px;
}