/* Body Style */
header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

main {
    padding: 10px;
}

body,
h2,
h3,
p {
    background-color: #EFF1F3;
    font-family: 'Roboto', serif;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0;
  }

  /* Navbar */
#navbar {
    text-align: center;
    box-shadow: 0 2px 15px #696773;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #26313A;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

#navbar ul li a {
    display: block;
    color: #E89700;
    text-align: center;
    padding: .75rem;
    text-decoration: none;
    font-size: 20px;
}

#navbar a:hover {
    background-color: #5FB0D9;
}

header h1 {
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
    margin-top: 20px;
}

h1, h2, h3 {
    color: #D85423;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p,
ul li {
    font-size: 20px;
}

section {
    line-height: 1.75;
}

.sample-header {
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
}

.sample-navigation {
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
}

.sample body {
    font-family: 'Roboto', serif;
    font-size: 18px;
}

/* Images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}

/* Footer Styling*/
footer {
    background-color: #26313A;
    padding: 0.125rem;
    font-size: 0.875rem;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
}

footer p {
    margin: .5rem 0 .5rem 0;
    background-color: #26313A;
}

footer a {
    color: white;
}

footer span {
    display: inline;
}

footer div {
    color: #e89700;
    padding-bottom: .25rem;
}

.palette {
    width: 80%;
}